# SQL Server
DB_HOST=127.0.0.1
DB_PORT=14330
DB_NAME=SS2_Practica1_VuelosDW
DB_USER=sa
DB_DRIVER="ODBC Driver 18 for SQL Server"

# No utilizar esta contraseña en un entorno real.
# Crear una contraseña local segura en .env.
MSSQL_SA_PASSWORD=CAMBIAR_POR_UNA_PASSWORD_SEGURA
